<div xmlns:th="http://www.thymeleaf.org" lang="fr" th:fragment="ClientPurchasesKPI" class="kpi-container">
    <h2 class="kpi-title">Ventes clients</h2>
    <div class="kpi-info">
        <div class="kpi-info-row">
            <span class="kpi-info-title">Prix total des ventes: </span>
            <span class="kpi-info-content" th:text="${res.totalSalesPrice} + ' €'"></span>
        </div>
        <div class="kpi-info-row">
            <span class="kpi-info-title">Part (en nombre de ventes) des nouveaux clients: </span>
            <span class="kpi-info-content" th:text="${res.totalNewClientRate}"></span>
        </div>
    </div>
    <div class="kpi-info">
        <h3 class="kpi-sub-title">Ventes de soins</h3>
        <div class="kpi-info-row">
            <span class="kpi-info-title">Prix total des ventes de soins: </span>
            <span class="kpi-info-content" th:text="${res.sessionAllPurchasesKPIS.salesPrice} + ' €'"></span>
        </div>
        <div class="kpi-info-row">
            <span class="kpi-info-title">Part (en nombre de ventes) des nouveaux clients pour la vente de soins: </span>
            <span class="kpi-info-content" th:text="${res.sessionAllPurchasesKPIS.newClientSalesRate}"></span>
        </div>
        <div class="kpi-info" th:if="${#lists.size(res.sessionAllPurchasesKPIS.purchases) > 0}">
            <h4 class="kpi-sub-title">Tous les soins</h4>
            <ul>
                <li class="kpi-info" th:each="purchase: ${res.sessionAllPurchasesKPIS.purchases}">
                    <h4 th:text="'Nom du soin: ' + ${purchase.productName}"></h4>
                    <div class="kpi-info-row">
                        <span>Nombre de ventes: </span>
                        <span th:text="${purcahse.nbSales}"></span>
                    </div>
                    <div class="kpi-info-row">
                        <span>Nombre de ventes aux nouveaux clients: </span>
                        <span th:text="${purcahse.nbNewClientSales}"></span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="kpi-info">
        <h3 class="kpi-sub-title">Ventes de packages</h3>
        <div class="kpi-info-row">
            <span class="kpi-info-title">Prix total des ventes de soins: </span>
            <span class="kpi-info-content" th:text="${res.bundleAllPurchasesKPIS.salesPrice} + ' €'"></span>
        </div>
        <div class="kpi-info-row">
            <span class="kpi-info-title">Part (en nombre de ventes) des nouveaux clients pour la vente de soins: </span>
            <span class="kpi-info-content" th:text="${res.bundleAllPurchasesKPIS.newClientSalesRate}"></span>
        </div>
        <div class="kpi-info" th:if="${#lists.size(res.bundleAllPurchasesKPIS.purchases) > 0}">
            <h4 class="kpi-sub-title">Tous les packages</h4>
            <ul>
                <li class="kpi-info" th:each="purchase: ${res.bundleAllPurchasesKPIS.purchases}">
                    <h5 th:text="'Nom du package: ' + ${purchase.productName}"></h5>
                    <div class="kpi-info-row">
                        <span>Nombre de ventes: </span>
                        <span th:text="${purchase.nbSales}"></span>
                    </div>
                    <div class="kpi-info-row">
                        <span>Nombre de ventes aux nouveaux clients: </span>
                        <span th:text="${purchase.nbNewClientSales}"></span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div xmlns:th="http://www.thymeleaf.org" lang="fr" th:fragment="FillingRateKPI">
    <h2 class="kpi-title">Taux de remplissage</h2>
    <div class="kpi-info">
        <div class="kpi-info-row">
            <span class="kpi-info-title">Taux de remplissage total: </span>
            <span class="kpi-info-content" th:text="${res.totalFillingRate * 100} + ' %'"></span>
        </div>
    </div>
    <div class="kpi-info">
        <h3 class="kpi-sub-title">Taux de remplissage par technicien(ne):</h3>
        <ul>
            <li class="kpi-info" th:each="techFillingRate:${res.technicianFillingRates}">
                <h4 th:text="${techFillingRate.technicianIdentifier}"></h4>
                <span th:text="'Taux de remplissage: ' + ${techFillingRate.fillingRate * 100} + ' %'"></span>
            </li>
        </ul>
    </div>
</div>

<div xmlns:th="http://www.thymeleaf.org" lang="fr" th:fragment="NewClientAndOriginKPI">
    <h2>NewClientAndOriginKPI</h2>
    <p th:text="'Res = ' + ${res}"></p>
    <!--<span th:text="'Chiffre d\'affaire totale = ' + ${package.totalTurnover}"></span>
    <div th:each="turnoverByMP:${package.turnoverByMeanOfPayment}">
        <p th:text="'Moyen de payment: ' + ${turnoverByMP.meansOfPayment}"></p>
        <p th:text="'Chiffre d\'affaire: ' + ${turnoverByMP.turnover}"></p>
    </div>-->
</div>

<div xmlns:th="http://www.thymeleaf.org" lang="fr" th:fragment="NotFinalizedAppointmentKPI">
    <h2>NotFinalizedAppointmentKPI</h2>
    <p th:text="'Res = ' + ${res}"></p>
    <!--<span th:text="'Chiffre d\'affaire totale = ' + ${package.totalTurnover}"></span>
    <div th:each="turnoverByMP:${package.turnoverByMeanOfPayment}">
        <p th:text="'Moyen de payment: ' + ${turnoverByMP.meansOfPayment}"></p>
        <p th:text="'Chiffre d\'affaire: ' + ${turnoverByMP.turnover}"></p>
    </div>-->
</div>

<div xmlns:th="http://www.thymeleaf.org" lang="fr" th:fragment="SurbookingKPI">
    <h2>SurbookingKPI</h2>
    <p th:text="'Res = ' + ${res}"></p>
    <!--<span th:text="'Chiffre d\'affaire totale = ' + ${package.totalTurnover}"></span>
    <div th:each="turnoverByMP:${package.turnoverByMeanOfPayment}">
        <p th:text="'Moyen de payment: ' + ${turnoverByMP.meansOfPayment}"></p>
        <p th:text="'Chiffre d\'affaire: ' + ${turnoverByMP.turnover}"></p>
    </div>-->
</div>

<div xmlns:th="http://www.thymeleaf.org" lang="fr" th:fragment="TechnicianACProvisionKPI">
    <h2>TechnicianACProvisionKPI</h2>
    <p th:text="'Res = ' + ${res}"></p>
    <!--<span th:text="'Chiffre d\'affaire totale = ' + ${package.totalTurnover}"></span>
    <div th:each="turnoverByMP:${package.turnoverByMeanOfPayment}">
        <p th:text="'Moyen de payment: ' + ${turnoverByMP.meansOfPayment}"></p>
        <p th:text="'Chiffre d\'affaire: ' + ${turnoverByMP.turnover}"></p>
    </div>-->
</div>

<div xmlns:th="http://www.thymeleaf.org" lang="fr" th:fragment="TurnoverKPI">
    <h2>TurnoverKPI</h2>
    <p th:text="'Res = ' + ${res}"></p>
    <!--<span th:text="'Chiffre d\'affaire totale = ' + ${package.totalTurnover}"></span>
    <div th:each="turnoverByMP:${package.turnoverByMeanOfPayment}">
        <p th:text="'Moyen de payment: ' + ${turnoverByMP.meansOfPayment}"></p>
        <p th:text="'Chiffre d\'affaire: ' + ${turnoverByMP.turnover}"></p>
    </div>-->
</div>