<div xmlns:th="http://www.thymeleaf.org" lang="fr" th:fragment="ClientPurchasesKPI">
    <h2>ClientPurchasesKPI</h2>
    <p th:text="'Res = ' + ${res}"></p>
    <!--<span th:text="'Chiffre d\'affaire totale = ' + ${package.totalTurnover}"></span>
    <div th:each="turnoverByMP:${package.turnoverByMeanOfPayment}">
        <p th:text="'Moyen de payment: ' + ${turnoverByMP.meansOfPayment}"></p>
        <p th:text="'Chiffre d\'affaire: ' + ${turnoverByMP.turnover}"></p>
    </div>-->
</div>

<div xmlns:th="http://www.thymeleaf.org" lang="fr" th:fragment="FillingRateKPI">
    <h2>FillingRateKPI</h2>
    <p th:text="'Res = ' + ${res}"></p>
    <!--<span th:text="'Chiffre d\'affaire totale = ' + ${package.totalTurnover}"></span>
    <div th:each="turnoverByMP:${package.turnoverByMeanOfPayment}">
        <p th:text="'Moyen de payment: ' + ${turnoverByMP.meansOfPayment}"></p>
        <p th:text="'Chiffre d\'affaire: ' + ${turnoverByMP.turnover}"></p>
    </div>-->
</div>

<div xmlns:th="http://www.thymeleaf.org" lang="fr" th:fragment="TurnoNewClientAndOriginKPIverKPI">
    <h2>NewClientAndOriginKPI</h2>
    <p th:text="'Res = ' + ${res}"></p>
    <!--<span th:text="'Chiffre d\'affaire totale = ' + ${package.totalTurnover}"></span>
    <div th:each="turnoverByMP:${package.turnoverByMeanOfPayment}">
        <p th:text="'Moyen de payment: ' + ${turnoverByMP.meansOfPayment}"></p>
        <p th:text="'Chiffre d\'affaire: ' + ${turnoverByMP.turnover}"></p>
    </div>-->
</div>

<div xmlns:th="http://www.thymeleaf.org" lang="fr" th:fragment="NotFinalizedAppointmentKPI">
    <h2>NotFinalizedAppointmentKPI</h2>
    <p th:text="'Res = ' + ${res}"></p>
    <!--<span th:text="'Chiffre d\'affaire totale = ' + ${package.totalTurnover}"></span>
    <div th:each="turnoverByMP:${package.turnoverByMeanOfPayment}">
        <p th:text="'Moyen de payment: ' + ${turnoverByMP.meansOfPayment}"></p>
        <p th:text="'Chiffre d\'affaire: ' + ${turnoverByMP.turnover}"></p>
    </div>-->
</div>

<div xmlns:th="http://www.thymeleaf.org" lang="fr" th:fragment="SurbookingKPI">
    <h2>SurbookingKPI</h2>
    <p th:text="'Res = ' + ${res}"></p>
    <!--<span th:text="'Chiffre d\'affaire totale = ' + ${package.totalTurnover}"></span>
    <div th:each="turnoverByMP:${package.turnoverByMeanOfPayment}">
        <p th:text="'Moyen de payment: ' + ${turnoverByMP.meansOfPayment}"></p>
        <p th:text="'Chiffre d\'affaire: ' + ${turnoverByMP.turnover}"></p>
    </div>-->
</div>

<div xmlns:th="http://www.thymeleaf.org" lang="fr" th:fragment="TechnicianACProvisionKPI">
    <h2>TechnicianACProvisionKPI</h2>
    <p th:text="'Res = ' + ${res}"></p>
    <!--<span th:text="'Chiffre d\'affaire totale = ' + ${package.totalTurnover}"></span>
    <div th:each="turnoverByMP:${package.turnoverByMeanOfPayment}">
        <p th:text="'Moyen de payment: ' + ${turnoverByMP.meansOfPayment}"></p>
        <p th:text="'Chiffre d\'affaire: ' + ${turnoverByMP.turnover}"></p>
    </div>-->
</div>